.grids{
    background-color: black;
    color: antiquewhite;
}

#navbar{
    width: 100% !important;
    margin: 0;
    background-color:black !important;
}

#header{
    color: aliceblue !important;
}

  